<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ch07_OverlapLayout_01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ch07_TableLayout" />
        <activity android:name=".Ch06_FrameLayout"></activity>
        <activity android:name=".Ch06_AbsoluteLayout" />
        <activity android:name=".Ch06_RelativeLayout_03" />
        <activity android:name=".Ch06_RelativeLayout_02" />
        <activity android:name=".Ch06_RelativeLayout_01" />
        <activity android:name=".Ch05_LinearLayout_03" />
        <activity android:name=".Ch05_LinearLayout_02" />
        <activity android:name=".Ch05_LinearLayout_01" />
        <activity android:name=".Ch04_ViewGroup_02" />
        <activity android:name=".Ch04_ViewGroup_01" />
    </application>

</manifest>